*,
::after,
::before,
html {
  box-sizing: border-box;
}

body,
html {
  position: relative;
  font-family: "Montserrat", sans-serif;
  scrollbar-width: thin;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-primary);
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 6px
  }
  &::-webkit-scrollbar-track {
    background: 0 0
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-accent);
    border-radius: 5px;
    border: transparent
  }
}

body.no-scroll-mobile {
  overflow: hidden;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-page ol,
.wrapper-page ul {
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper-page li {
  text-decoration: none;
  padding: 0;
  list-style: none;
}

.web-check-text,
.web-radio-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-secondary);
  a {
    color: var(--color-accent);
  }
}

select::-moz-placeholder {
  opacity: 1;
}

textarea::-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

.content {
  flex: 1 0 auto;
  margin-top: 136px;
  padding-bottom: 120px;
  &.form{

    min-height: 834px;
  }
  &.pb-0 {
    padding-bottom: 0 !important;
  }
}

.content-index {
  margin-top: 88px;
}

a,
button {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

button,
input {
  outline: 0;
}

.btn .mob {
  display: block;
}

.btn .desk {
  display: none;
}

.btn {
  border: 1.5px solid var(--color-accent);
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px;
  align-items: center;
  justify-content: center;
  height: 48px;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
  span {
    color: var(--color-primary);
  }

  &:hover {
    svg path {
      stroke: var(--color-white);
    }

    svg path[fill="#313435"] {
      fill: var(--color-white);
    }
  }

  &:hover {
    background: var(--color-accent);
    color: var(--color-white);

    span {
      color: var(--color-white);
    }
  }

  &:disabled {
    border-color: #eee;
  }

  &.primory {}

  svg,
  img {
    width: 20px;
    height: 20px;
  }
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0;
}

.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0;
}

.wrapper-page button::placeholder,
.wrapper-page input::placeholder,
.wrapper-page textarea::placeholder {
  opacity: 1;
}

.wrapper-page a {
  text-decoration: none;
}

li,
ul {
  display: inline-block;
  text-decoration: none;
  padding: 0;
}

.footer {
  flex: 0 0 auto;
}

.page-inner {
  padding-bottom: 100px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus,
input[type="number"]:hover {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.web-check label,
.web-radio label {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: start;
  cursor: pointer;
  position: relative;
  gap: 15px;
}

.web-check .check-style,
.web-radio .radio-style {
  border: 1.5px solid var(--color-accent);
  width: 20px;
  height: 20px;
}

.web-check .check-box, 
.web-radio .radio-box {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.web-check .check-box:checked+.check-style,
.web-radio .radio-box:checked+.radio-style {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 12px;
}

.swiper-pagination {
  margin-top: 48px;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  background: var(--color-gray-1);
  border-radius: 50%;
  margin: 0;
  padding: 0;
}
.swiper-pagination-lock{
  display: none;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet+.swiper-pagination-bullet {
  margin-left: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:hover {
  background: var(--color-accent);
}

.swiper-pagination-bullet-active {
  background: var(--color-accent);
}

.swiper:not(.swiper-initialized)>.swiper-wrapper {
  flex-flow: row wrap;
  align-items: stretch;
}

.page-wrapper {
  margin-bottom: 60px;
  position: relative;
}

h1,
.h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 130%;
  text-transform: uppercase;
}

h2,
.h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
}

h3,
.h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-transform: uppercase;
}

h4,
.h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
}

p,
.p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

main {}

//breadcrumbs
.breadcrumbs {
  margin: 32px 0 16px;
}

.page-title {
  margin-bottom: 56px;
}

.breadcrumbs-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0 12px;
}

.breadcrumbs-list-item {
  display: inline-grid;
  grid-template-columns: auto auto;
  gap: 12px;
  align-items: center;
  &.active{
    grid-template-columns: auto;
  }
}

.breadcrumbs-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Roboto", sans-serif;
  

  a {
    color: var(--color-secondary);
    transition: all 0.25s;
    display: inline;
  }
  span{
    color: var(--color-primary);
    display: inline;
  }
  &:hover,
  &:focus {
    a {
      color: var(--color-accent);
    }
  }
}

.breadcrumbs-list-item-splitter {
  background: var(--color-accent);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.page-more {
  margin-top: 40px;
}

.page-more-inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.page-more-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
}

.page-more-pagination-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary);

  &.active {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-accent);
    color: #2d3a44;
    font-weight: 600;
  }

  &:hover,
  &:focus {
    color: #2d3a44;
  }
}

.page-more-button {
  .btn {
    width: 100%;
  }
}

.web-form-item {
  position: relative;
  width: 100%;
}

.web-input {
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 15px 16px 0px;
  border-bottom: 1.5px solid rgba($color: #999, $alpha: .2);
  transition: 0.25s;
  width: 100%;
  height: 48px;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.web-input:active,
.web-input.active,
.web-input:focus {
  border-color: var(--color-accent);
}

.web-form-item textarea {
  resize: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 130%;
  min-height: 48px;
  width: 100%;
  font-weight: 400;
  padding: 15px 16px 0px;
  border-bottom: 1.5px solid rgba($color: #999, $alpha: .2);
  transition: 0.25s;
  width: 100%;
  background: transparent;
  text-transform: uppercase;
  color: var(--color-primary);
  &:focus,
  &:active {
    border-color: var(--color-accent);
  }
}

.web-form-item label {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 100%;
  padding-top: 0;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--color-secondary);
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-accent);
    position: relative;
    top: -1px;
    right: -1px;
  }
}

// .web-form-item input:not(:placeholder-shown),
// .web-form-item textarea:not(:placeholder-shown) {
//   border-color: rgba($color: #999, $alpha: .2);
// }

.web-form-item input:placeholder-shown~label,
.web-form-item input.active~label,
.web-form-item textarea:placeholder-shown~label {
  padding: 12px 16px 0px;
  font-size: 14px;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-secondary);
  top: 0;

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-accent);
    position: relative;
    top: -1px;
    right: -1px;
  }
}

.web-form-item input~label,
.web-form-item input.active~label,
.web-form-item input:focus~label,
.web-form-item textarea~label,
.web-form-item textarea:focus~label {
  padding-top: 0;
  padding-left: 16px;
  font-size: 12px;
  top: 0;

  span {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-accent);
    position: relative;
    top: -1px;
    right: -1px;
  }
}

.container-mod-fw {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

section+section {
  margin-top: 120px;
}

.section-gray {
  padding: 120px 0;
  background: var(--color-gray);
  color: var(--color-primary);
}
.web-form-item.mod-fw{
  grid-column: span 2;
}
.accordion-item:not(.active) .accordion-item-content {
  height: 0;
  padding: 0;
  opacity: 0;
}
.accordion-item-content {
  padding: 8px 0 24px 0;
  opacity: 1;
  transition: 0.35s;
  overflow: hidden;
}
.accordion-item-heading-icon svg{
  width: 20px;
  height: 20px;
}
.accordion-item.active .accordion-item-heading-icon svg{
  transform: rotate(180deg);
}
.web-form-item.control{
  input,textarea,label{
    padding-right: 80px;
  }
}
.web-form-item-data-icon{
  input{
    background: url(../img/svg/data-icon.svg) calc(100% - 16px) 12px/24px 24px no-repeat;
  }
}
.modal{
	max-width: 568px;
	padding: 80px 64px;
	.h3{
		text-align: center;
		margin-bottom: 48px;
	}
}
.fancybox__backdrop{
	background: rgba($color: var(--color-primary), $alpha: 0.4)
}
@media (max-width: 1399px) {
  section+section {
    margin-top: 96px;
  }
}

@media (max-width: 1119px) {
  section+section {
    margin-top: 80px;
  }

  .section-gray {
    padding: 72px 0 80px;
  }

  .content {
    padding-bottom: 80px;
  }
  .content.form{
    min-height: auto;
    padding-bottom: 80px;
  }
}

@media (max-width: 991px) {

  h1,
  .h1 {
    font-size: 40px;
    line-height: 130%;
  }

  h2,
  .h2 {
    font-size: 36px;
    line-height: 130%;
  }

  h3,
  .h3 {
    font-size: 24px;
    line-height: 130%;
  }

  h4,
  .h4 {
    font-size: 18px;
    line-height: 150%;
  }

  section+section {
    margin-top: 72px;
  }

  .section-gray {
    padding: 72px 0;
  }

  .content {
    padding-bottom: 72px;
  }
  .content.form{
    padding-bottom: 72px;
  }
}

@media (max-width: 767px) {

  h1,
  .h1 {
    font-size: 30px;
    line-height: 130%;
  }

  h2,
  .h2 {
    font-size: 24px;
    line-height: 130%;
  }

  h3,
  .h3 {
    font-size: 18px;
    line-height: 150%;
  }

  h4,
  .h4 {
    font-size: 16px;
    line-height: 150%;
  }

  .content {
    margin-top: 48px;
  }
  .content-index {
    margin-top: 48px;
  }

  section+section {
    margin-top: 64px;
  }

  .section-gray {
    padding: 64px 0;
  }

  .content {
    padding-bottom: 64px;
  }
  .breadcrumbs{
    margin-top: 24px;
  }
  .page-title{
    margin-bottom: 40px;
  }
  .swiper-pagination{
    margin-top: 24px;
  }
  .content.form{
    padding-bottom: 64px;
  }
  .btn{
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (max-width: 575px) {
  .web-form-item.mod-fw{
    grid-column: span 1;
  }
}