@media (max-width: 1479px) {
  .header-top {
    .header-user-name {
      display: none;
    }
  }

  .header-top-inner>.header-box .btn {
    margin-left: 24px;
  }
  .header-bottom{
    padding: 12px 0;
    .header-bottom-list-item img{
      display: none;
    }
  }
  .header-bottom .header-bottom-list-item a{
    grid-template-columns: auto;
  }

}

@media (max-width: 1199px) {
  .header-menu-mobile {
    display: none;
  }

  .active .header-menu-mobile {
    display: block;
  }

  .header-menu-mobile-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
  }

  .header-menu-mobile-container.active {

    opacity: 1;
    transition: opacity 0.25s ease-in;
    pointer-events: initial;
  }

  .header-top .header-menu-mobile-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 88px);
    background-color: var(--color-primary);
    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
    z-index: 1;
  }

  .header-top-inner .header-user {
    display: none;
  }

  .header-mobile-menu-trigger {
    display: flex;
    margin-left: 40px;
  }

  .header-menu-mobile-container.active {
    opacity: 1;
    transition: opacity 0.25s ease-in;
    pointer-events: initial;
  }

  .header-menu-mobile-container .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  ul.header-menu-mobile-list {
    display: block;
    margin: 0;
    overflow-y: auto;
    height: calc(100vh - 115px);
  }
  .current ul.header-menu-mobile-list{
    height: calc(100vh - 190px);
  }

  .header-menu-mobile-container.active {
    border-top: 1px solid #464849;
  }

  .header-menu-mobile {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
  }

  .header-menu-mobile-list {
    flex: 1 0 auto;
  }

  .header-menu-mobile-item>a,
  .header-menu-mobile-item>span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .is-top.current .header-menu-mobile-item {
    display: block;
  }

  .header-menu-mobile-item>a,
  .header-menu-mobile-item>span {
    padding: 12px 0;
  }

  .header-menu-mobile-item {
    position: relative;
  }

  .active>.header-menu-mobile-sub {
    display: block;
  }

  .is-parent.current>.header-menu-mobile-sub>.header-menu-mobile-sub-heading {
    display: block;
  }

  // .header-menu-mobile-footer {
  //   padding-bottom: 24px;
  // }

  .header-menu-mobile-footer .header-phone-contact {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-secondary);
    margin-top: 8px;
  }

  .current .header-menu-mobile-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .header-menu-mobile-sub {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    min-height: 100%;
    z-index: 1;

    background-color: var(--color-primary);
  }

  .header-menu-mobile-item.active {
    display: block;
  }

  .header-top .header-menu-mobile-sub-list {
    display: flex;
    flex-direction: column;
  }

  .header-menu-mobile-sub-item a {
    display: grid;
    grid-template-columns: 32px 1fr;
    align-items: center;
    gap: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 0;
    color: var(--color-white);
  }

  .header-menu-mobile-item>a,
  .back-trigger,
  .header-menu-mobile-sub-item a {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  .is-top.current .header-menu-mobile-item {
    position: relative;

    &+.header-menu-mobile-item::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: #FFFFFF;
      opacity: 0.1;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 100%;
      height: 1px;
    }
  }
  .header-menu-mobile-sub-item.active, .is-parent.current>.header-menu-mobile-sub>.header-menu-mobile-sub-list>.header-menu-mobile-sub-item{
    position: relative;
    & + .header-menu-mobile-sub-item::before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: #FFFFFF;
      opacity: 0.1;
      transform: matrix(1, 0, 0, -1, 0, 0);
      width: 100%;
      height: 1px;
    }
  }

}

@media (max-width: 991px) {

  .header-menu-mobile-item>a,
  .back-trigger,
  .header-menu-mobile-sub-item a {
    max-width: 740px;
  }

  .header-mobile-menu-trigger {
    margin-left: 24px;
  }
  .header-bottom{
    .container{
      max-width: 100%;
      padding-left: calc((100vw - (740px - 1.5rem))/ 2);
    }
  }
}

@media (max-width: 767px) {

  .header-menu-mobile-item>a,
  .back-trigger,
  .header-menu-mobile-sub-item a {
    max-width: 540px;
  }

  .header-phone .header-phone-contact {
    display: none;
  }

  .header-logo img,
  .header-logo picture,
  .header-logo svg {
    height: 32px;
  }

  .header-top-inner>.header-box .btn {
    display: none;
  }

  .header-top {
    padding: 8px 0;
  }

  .header-top .header-menu-mobile-container {
    height: calc(100vh - 48px);
  }

  .header-phone .header-phone-number {
    font-size: 18px;
  }

  .current ul.header-menu-mobile-list {
    height: calc(100vh - 144px);
  }
  .header-bottom{
    display: none;
  }
  ul.header-menu-mobile-list{
    height: calc(100vh - 75px);
  }

}

@media (max-width: 557px) {

  .header-menu-mobile-item>a,
  .back-trigger,
  .header-menu-mobile-sub-item a {
    max-width: 100%;
  }

  .header-phone .header-phone-number {
    display: none;
  }

  .header-top .header-phone-icon {
    display: block;
  }
}