@media (max-width: 1479px) {

}

@media (max-width: 1199px) {
    .footer-banner{
        padding: 72px 0;
    }
    .footer-banner-inner{
        grid-template-columns: 1fr;
        gap: 24px;
        justify-items: center;
    }
    .footer-banner-inner{

    }
    .footer-banner-inner .btn{
        max-width: 100%;
        width: auto;
    }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .footer-banner{
        padding: 64px 0;
    }
    .footer-banner-message{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .footer-banner-inner .btn{
        max-width: none;
    }
    .footer-banner-inner .btn{
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 557px) {}