@media (max-width: 1479px) {
  .img-box img {
    max-width: 600px;
  }
}

@media (max-width: 1199px) {

  .img-box img,
  .img-box .img-box-content {
    max-width: 100%;
  }

  .img-box {
    grid-template-columns: 1fr;
    gap: 48px;
 
  }
  .text-page .img-box img{
    margin: 0;
  }
}

@media (max-width: 991px) {
  .text-page .p, .text-page p,
  .text-page .blockquote,
  .text-page ol li, .text-page ul li,
  .text-page .h4, .text-page h4,
  .text-page .h3, .text-page h3,
  .text-page .h2, .text-page h2,
  .text-page a,
  .text-page .a,
  .text-page i,
  .text-page .i,
  .text-page b,
  .text-page .b{
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .text-page img {
    margin: 24px 0;
  }

  .text-page .h2,
  .text-page h2 {
    margin: 64px 0 40px;
  }

  .text-page .h3,
  .text-page h3 {
    margin: 64px 0 24px;
  }

  .text-page-list-box {
    margin: 40px 0;
  }

  .responsive-table {
    margin: 40px 0;
  }

  .text-page blockquote,
  .text-page .blockquote {
    padding: 104px 32px 40px 32px;
    margin: 40px 0;
  }

  .text-page thead tr th span {
    display: none;
  }

  .text-page-slider {
    margin: 24px 0 40px;
  }
  .text-page .h4, .text-page h4{
    margin: 40px 0 16px;
  }
  .text-page .h4~p, .text-page h4~p{
    margin-top: 16px;
  }
}

@media (max-width: 557px) {}