@media (max-width: 1479px) {
    .menu-detail-product{
        grid-template-columns: 550px 1fr;
        gap: 50px;
    }
    .menu-section-item-box{
        gap: 30px;
    }
    .menu-detail-product-thumbs .swiper:not(.swiper-initialized) > .swiper-wrapper > .swiper-slide{
        width: 146px;
    }
}

@media (max-width: 1199px) {
    .menu-detail-product{
        grid-template-columns: 465px 1fr;
        gap: 50px;
    }
    .menu-detail-product-content-title{
        display: none;
    }
    .menu-detail .page-title{
        display: block;
    }
    .menu-detail-product-thumbs .swiper:not(.swiper-initialized) > .swiper-wrapper > .swiper-slide{
        width: 117px;
    }
}

@media (max-width: 991px) {
    .menu-detail-product{
        grid-template-columns: 336px 1fr;
        gap: 32px;
    }
    .menu-detail-product{
        margin-bottom: 72px;
    }
    .menu-section-item-box{
        gap: 40px;
    }
    .menu-detail-product-slider{
        margin-bottom: 16px;
    }
    .menu-detail-product-thumbs{
        
         .swiper:not(.swiper-initialized) > .swiper-wrapper > .swiper-slide {
          width: 120px;
          
        }
      }
}

@media (max-width: 767px) {
    .menu-detail-product{
        grid-template-columns: 100%;
        gap: 40px;
    }
    .menu-detail-slider-title{
        margin-bottom: 40px;
    }
    .menu-detail-product{
        margin-bottom: 64px;
    }
    .menu-detail-product-thumbs .swiper:not(.swiper-initialized) > .swiper-wrapper > .swiper-slide{
        width: 210px;
    }
}

@media (max-width: 557px) {
    .menu-detail-product-content .menu-section-item-quantity-box{
        grid-template-columns: 100%;
        gap: 20px;
    }
    .menu-detail-product-content .menu-section-item-quantity-box.active .menu-section-item-quantity-panel{
        margin: 0;
        margin-right: auto;
    }
    .menu-detail-product-thumbs .swiper:not(.swiper-initialized) > .swiper-wrapper > .swiper-slide{
        width: 50%;
    }
}