@media (max-width: 1479px) {
  .footer-top {
    padding-top: 96px;
  }

  .footer-map {
    height: 900px;
  }
  .container-mod {
    max-width: 570px;

  }
}



@media (max-width: 1199px) {

  .footer-top {
    padding-top: 80px;
  }

  .footer-bottom {
    padding-bottom: 32px;
  }

  .footer-map {
    height: 768px;
  }

  .container-mod {
    max-width: 480px;

  }
}

@media (max-width: 991px) {
  .footer-top {
    padding-top: 72px;
  }

  .footer-content-contacts {
    grid-template-columns: repeat(2, auto);
    display: grid;
  }

  .footer-bottom {
    padding-bottom: 24px;
  }

  .footer-inner {
    grid-template-columns: 1fr;
  }

  .footer-map {
    order: -1;
  }

  .footer-map {
    height: 480px;
  }

  .container-mod {
    max-width: 740px;
    margin: 0 auto;
  }

  .footer-top {
    margin-bottom: 48px;
  }
  .footer-content-contacts-phone{
    order: 0;
  }
  .footer-content-contacts-opening{
    order: 1;
  }
  .footer-content-contacts-address{
    order: 2;
  }
  .footer-content-contacts-delivery{
    order: 3;
  }
}

@media (max-width: 767px) {

  .footer-top {
    padding-top: 64px;
  }

  .footer-content-contacts {
    gap: 12px 24px;
  }

  .footer-content-logo img,
  .footer-content-logo svg {
    width: 142px;
    height: 60px;
  }

  .footer-poly {
    font-size: 12px;
  }

  .container-mod {
    max-width: 540px;

  }

  .footer-content-contacts {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-content-contacts-phone {
    font-size: 20px;
  }

  .footer-links {
    justify-content: center;
    display: grid;
  }

  .footer-top {
    margin-bottom: 54px;
  }

}

@media (max-width: 557px) {
  .footer-content-contacts {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .footer-content-logo img,
  .footer-content-logo svg {
    width: 118px;
    height: 50px;
  }

  .footer-links {
    margin-bottom: 24px;
  }

  .footer-top {
    margin-bottom: 64px;
  }

  .footer-links {
    margin-bottom: 24px;
  }
  .footer-content-contacts-address{
    order: 1;
  }
  .footer-content-contacts-opening{
    order: 2;
  }
}